# Dependencies
node_modules/
.pnp
.pnp.js

# Testing/Coverage
coverage/
.nyc_output/

# Build/Dist
dist/
build/
.next/
.nuxt/
.cache/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE/Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
.DS_Store
